<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <div>{{dob}}</div>
    <div>Medium={{dob | date :"medium"}}</div>
    <div>Short={{dob | date :"short"}}</div>
    <div>Long={{dob | date :"long"}}</div>
    <div>Specific={{dob | date :"dd/MM/yy"}}</div>
    <div>Specific={{dob | date :"mediumTime"}}</div>
    <h2>Currency</h2>
    <div>Salary={{salary | currency :"USD": true}}</div>
    <div>Salary={{salary | currency :"INR": true}}</div>

    <router-outlet></router-outlet>